{% extends 'base.html.twig' %}

{% block title %}Mon compte
{% endblock %}

{% block main %}
	<section class="my-account">
		<h1>Mon compte</h1>
		<div class="my-order">
			<h2>Mes commandes</h2>
			<table class="my-order-table">
				<thead>
					<tr>
						<th>N°</th>
						<th>Date</th>
						<th>Prix</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>01</td>
						<td>01/01/2024</td>
						<td>185,50€</td>
					</tr>
					<tr>
						<td>01</td>
						<td>01/01/2024</td>
						<td>185,50€</td>
					</tr>
					<tr>
						<td>01</td>
						<td>01/01/2024</td>
						<td>185,50€</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
