{# section conviction #}
<section class="conviction-block">
	<div class="section-texts">
		<h2>Notre conviction</h2>
		<p>Chez GreenGoodies, nous croyons en un monde où le commerce peut être synonyme de bien-être pour la planète et ses habitants. Notre mission est de vous proposer une sélection rigoureuse de produits qui allient qualité, durabilité et éthique</p>
	</div>
	<img src="{{ asset('img/Conviction_Hero_Cover.webp') }}" alt="Notre conviction" class="section-image">
</section>
