{# section value #}
<section class="value-block">
	<img src="{{ asset('img/Value_Hero_Cover.jpg') }}" alt="Notre valeur" class="section-image">
	<div class="section-texts">
		<h2>NOS VALEURS</h2>
		<p>Durabilité : Nous sélectionnons soigneusement des produits qui respectent l'environnement et favorisent la durabilité.</p>
		<p>Éthique : Nous nous engageons à travailler avec des partenaires et des fournisseurs qui partagent nos valeurs éthiques.</p>
		<p>Écologie : Nous encourageons des pratiques respectueuses de l'écosystème et privilégions les matériaux écologiques.</p>
	</div>
</section>
