body {
    font-family: "Inter", sans-serif;
    margin: 0;
    font-size: 14px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    background-color: #FFFDF7;
    border: 1px solid #f6f5f0;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
}

.welcome-block{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: #E8F0E3;
}

.welcome-left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-text-wrapper {
    width: 46%;
    padding: 5px;
}
.welcome-text-wrapper h1 {
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 30px;
}

.welcome-text-wrapper p {
  font-size: 18px;
}

.welcome-block-image {
  width: 50%;
  height: 100%;
  object-fit: cover; 
}

.products-block {
    background-color: #fdfbf5;
}

.products-block h2 {
    margin: 0;
    padding: 30px 40px;
    font-size : 14px;
    font-weight: 500;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    color:#000
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    width: calc(33.333%); 
    box-sizing: border-box;
    background-color: #f6f5f0;
    height: 692px;
}

.product-info {
    padding: 30px;
   
    text-align: center;
}
.product-image {
    width: 100%; 
    max-height: 474px;             
    object-fit: cover;
    height: 90%;
}

.product-info .btn {
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #000;
}

.short-description {
    font-size: 14px;
    color: #666;
}

.price {
    color: #333;
}

.conviction-block {
    background-color: #EBE3D3;
    display: flex;
	justify-content: space-between;
    align-items: end;
}

.section-texts {
    width: 28%;
    padding: 10px 40px;
}

.section-texts h2{
    margin-bottom: 10px;
    margin: 0;
    font-size : 20px;
    font-weight: 500;
    text-transform: uppercase;

}

.section-texts p {
    color: #333;
}

.value-block {
    background-color: #E8F0E3;
    display: flex;
	justify-content: space-between;
    align-items: end;
}

.section-image {
    max-width: 487px;
	max-width: 33%;
    height: 80%;
	object-fit: cover;
}

.value-block .section-texts p {
	margin: 0;
}

.value-block .section-texts p:nth-of-type(1) {
	margin-top: 10px;
}

.value-block .section-texts p:nth-of-type(3) {
	margin-bottom: 20px;
}

.product-details-block {
    display: flex;
    flex-direction: row;
    max-height: 686px;
    padding-bottom: 80px;
}

.product-details-block h1 {
    font-size: 20px;
    font-weight: 500;
}

.product-details-block h3 {
    font-size: 10px;
    font-weight: 400;
}

.product-unit-price {
    font-size: 30px;
    font-weight: 300;
    margin-top: 0;
}

.product-details-image {
    width: 50%;          
    object-fit:cover;
}

.product-details{
    padding: 110px 110px 0px 110px;
    display: flex;
}

.product-texts {
    display: flex;
    flex-direction: column;
}

.quantity-form {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    
}

.quantity-form label {
    color: #666;
}

.quantity-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    gap:5px; 
}

.quantity-dropdown {
    padding: 5px 30px;
    border: 1px solid #333;
    font-size: 14px; 
}

.long-description {
    font-size: 14px;
    color: #666;
}

.add-to-cart{
    display: inline-block;
    padding: 30px 20px;
    text-decoration: none;
    margin-top: 20px;
    background-color: #000;
    color: white;
    text-align: center;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover{
    background-color: #565656;
}

.Inscription-hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Inscription-hero-cover {
    width: 50%;
    max-height: 1104px;
    object-fit: cover;
}

.Inscription-hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
}

.Inscription-hero-text h1 , .connexion-hero h1 {
    font-size: 20px;
    font-weight: 500; 
    margin-bottom: 10px;
    margin-top: 50px;
}

.connexion-hero h1 {
    margin-bottom: 40px;
}

.inscription-criteria {
    font-size: 12px;
    color: #666;
}

.checkbox-inline label {
    margin-left: 8px;
    cursor: pointer;
}

.Inscription-hero {
    background-color: #FFFDF7;
}

.form-wrapper {
    max-width: 480px;
    width: 98%;
}

.registration-form {
    margin-top: 20px;
}

form .form-field {
    margin-bottom: 20px;
}

form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom:20px;
}

form .form-group input {
    padding: 23px;
    border: 1px solid #666;
    background-color: #FFFDF7;
}

form .form-group label {
  display: block;
  margin-bottom: 8px;
  color: #666;
}


.checkbox-inline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    margin: 30px 0 0px 0;
    color: #666;
}

.custom-checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #666;
    margin :0px;
}

.btn-register {
    padding: 30px 30px; 
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #565656;
    color: #FFF;
    width: 100%;
    font-size: 14px;
}

form .btn-register:hover {
    background-color: #000;
}

.form-wrapper ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    color: #e53935;
}

.alert {
    color: #e53935;
}

.form-wrapper ul li{
    margin: 0;
}

.login-link {
    display: block;
    color: #666;
    font-size: 14px;
    margin-top: 30px;
    text-align: center;
    text-decoration: underline;
}

.error-message {
    color: #e53935;
    font-size: 14px;
    margin-top: 5px;
}

/* connexion form */

.connexion-hero {
    display: flex;
    flex-direction: row;
    background-color: #FFFDF7;
}

.connexion-hero-cover {
    width: 50%;
    max-height: 1104px;
    object-fit: cover;
}

.connexion-hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 50px;
}

.connexion-hero-text .form-group {
    margin-top: 30px;
}

/* my order */

.my-order {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    margin: 0;
    text-align: right;
    padding: 30px 120px;
    background-color: #fff;
    border: 1px solid #f6f5f0;
}
